{% extends 'newsfeed/base.html' %}
{% load static %}

{% block title %}Create New Article - EnvPlus{% endblock %}

{% block content %}
<div class="form-container wide-form">
      <h2>{% if article %}Edit Article{% else %}Create New Article{% endif %}</h2>
    <form method="post" enctype="multipart/form-data" action="
    {% if article %}
        {% url 'create_article' %}?id={{ article.id }}&command=update
    {% else %}
        {% url 'create_article' %}?command=create
    {% endif %}"
    class="article-form">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group {% if field.field.widget.input_type == 'file' %}file-input-group{% endif %}">
                {{ field.label_tag }}
                {{ field }}
                {% if field.errors %}
                    <ul class="errorlist">
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% if field.help_text %}
                    <small class="help-text">{{ field.help_text }}</small>
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit" class="button primary">Publish Article</button>
    </form>
</div>
{% endblock %}